#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/city.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background-color: #eef2f7;
  width: 55%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.heading {
  display: flex;
  align-items: center;
  height: 580px;
  font-family: "Spartan", sans-serif;
  line-height: 45px;
}

.button {
  outline: none;
  text-decoration: none;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  width: 140px;
  height: 180px;

  opacity: 1;
  background-color: #fff;
  border: 1px solid rgba(22, 76, 167, 0.6);
}

.button span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

@media only screen and (max-width: 678px) {
  .card {
    width: 80%;
    height: 40%;
  }
  .heading {
    height: 480px;
    font-family: "Spartan", sans-serif;
    line-height: 40px;
  }

  .button {
    outline: none;
    text-decoration: none;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    width: 120px;
    height: 140px;
    opacity: 1;
    background-color: #fff;
    border: 1px solid rgba(22, 76, 167, 0.6);
  }

  .button span {
    color: #164ca7;
    font-size: 8px;
    font-weight: 52;
    letter-spacing: 0.7px;
  }
}
